h1 {
    background-image: linear-gradient(to right, pink, lightblue); 
    padding: 30px; color: white; 
    border: 1px solid black; 
    width: 50%; 
    text-align: center; 
    margin: auto;
} 

section { 
    border: 1px solid black; 
    padding: 10px;width: 50%; 
    margin: auto; 
    background-image: linear-gradient(to right, pink, lightblue);
} 
img {
    border: 1px solid black; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}