doctype
html
    head
        title= title
    body
        h1= h1
        form(method='POST' action='uploads' enctype='multipart/form-data')
            div
                label(for='image-upload') Upload an image
                input(type='file' id='image-upload' name='myImage' required)
            div
                button(type='submit') Upload Image
        
        section(id='images-container')
            each val in images
                img(src=val width=500)